@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Quicksand";
    color: #1F271B;
    text-decoration: none;
}



