.back-button {
    position: relative;
    background: transparent;
    margin-left: 10px;
}

button {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background: transparent;
    outline: none;
}
