.link-container{
    max-width: 700px;
    display: flex;
    align-items: center;
    border-bottom: #F4B02B 1px solid;
    margin-bottom: 25px;
}

.link-container_text{
    padding-left: 25px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}
.link-container_icon{
    padding-right: 25px;
    text-align: right;
    
}